* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f7f8fc;
  color: #111;
}

.navbar {
  width: 100%;
  padding: 20px 8%;
  background: #0b1e3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.logo span {
  color: #d4af37;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.nav-btn {
  padding: 12px 22px;
  border: none;
  border-radius: 30px;
  background: #d4af37;
  color: #0b1e3f;
  font-weight: bold;
  cursor: pointer;
}

.hero {
  min-height: 85vh;
  background: linear-gradient(rgba(11,30,63,0.7), rgba(11,30,63,0.7)),
  url("https://images.unsplash.com/photo-1436491865332-7a61a109cc05") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 30px;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 22px;
  margin-bottom: 35px;
}

.search-box {
  background: white;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.search-box input {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 180px;
}

.search-box button {
  padding: 14px 25px;
  border: none;
  border-radius: 10px;
  background: #d4af37;
  color: #0b1e3f;
  font-weight: bold;
  cursor: pointer;
}

section {
  padding: 70px 8%;
}

h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: #0b1e3f;
}

.cards,
.deal-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.card,
.deal-card {
  background: white;
  width: 300px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  text-align: center;
}

.card h3,
.deal-card h3 {
  color: #0b1e3f;
  margin-bottom: 15px;
}

.deal-card h4 {
  color: #d4af37;
  font-size: 28px;
  margin: 20px 0;
}

.deal-card button,
.contact button {
  padding: 13px 25px;
  border: none;
  border-radius: 25px;
  background: #0b1e3f;
  color: white;
  cursor: pointer;
}

.contact {
  background: #0b1e3f;
}

.contact h2 {
  color: white;
}

form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input,
form textarea {
  padding: 15px;
  border: none;
  border-radius: 10px;
}

form textarea {
  height: 120px;
}

footer {
  background: #061226;
  color: white;
  text-align: center;
  padding: 35px;
}

footer h3 {
  color: #d4af37;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  nav {
    text-align: center;
  }

  nav a {
    display: inline-block;
    margin: 8px;
  }

  .hero h1 {
    font-size: 38px;
  }

  .hero p {
    font-size: 18px;
  }

  .search-box {
    flex-direction: column;
  }

  .search-box input,
  .search-box button {
    width: 100%;
  }
}